.products-page {
  height: 400px;
  width: 100%;
  height: auto;
}

/** Products **/

.products-page .products {
  width: 100%;
  height: auto;
  display: flex;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}


.single-search-big-box button{
  left: 455px;
  bottom: 10px;
  width: 98px;
  height: 56px;
  border-radius: 0 10px 10px 0px;
  border-top: 0.8px solid #000000;    /* Bold top border */
  border-right: 0.8px solid #000000;   /* Bold left border */
  border-bottom: 0.8px solid #000000; /* Bold bottom border */
  border-left: 0.8px solid #000000;
  background-color:#3dd12f;
  box-sizing: content-box;
  color: #fff;
  font-size: 20px;
}


.products-page .products .single-search-input {
  position: relative;
  width: 450px;
  height: 70px;
  top: 60px;
  left: 5px;
  margin-right: 170px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: start;
  border: none;
  border-radius: 10px 0 0 10px;
  border-top: 0.8px solid #000000;   
  border-left: 0.8px solid #000000;   
  border-bottom: 0.8px solid #000000; 
  border-right: none; 
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;
  background-color: #fff;
  color: #000; /* Text color */
}

/* Input focus holatidagi borderni qora qilish */
.products-page .products .single-search-input:focus {
  outline: none; /* Outline'ni olib tashlash */
  border-top: 0.8px solid #000000;   
  border-left: 0.8px solid #000000;   
  border-bottom: 0.8px solid #000000; 
}




.products-page .products .sort-category-container {
  position: absolute;
  top: 370px; /* Adjust the top offset as needed */
  left: 100px; /* Moves the container to the left */
  width: 360px;
  height: auto; /* Allows the container to expand vertically based on its content */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Reduce the space between child elements */
}

.products-page .products .sort-category-container .category-container {
  background-color: #fff;
  padding: 12px; /* Reduced padding for a tighter layout */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0; /* Ensure no extra margin between category and sort container */
  height: 400px;
  gap: 30px;
}

.products-page .products .sort-category-container .category-container {
  margin-bottom: 10px; /* Slight margin between category and sort */
}


.products-page .products .sort-category-container .sort-container {
  background-color: #fff;
  padding: 12px; /* Reduced padding for a tighter layout */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0; /* Ensure no extra margin between category and sort container */
  height: 300px;
  gap: 30px;
}

.products-page .products .sort-category-container .sort-container {
  margin-bottom: 0; /* Ensure no extra space at the bottom */
}

.products-page .products .sort-category-container button {
  width: 100%;
  padding: 10px;
  background-color: #3dd12f;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  gap: 60px;
 
}

.products-page .products .sort-category-container button:hover {
  background-color: #33a02c;
}

/* FormControlLabel ichidagi label uchun o'zgarishlar */
.category-radio .MuiFormControlLabel-label {
  font-size: 25px; /* Yozuv o'lchami kattalashtiriladi */
  font-weight: 500; /* Yozuvga ozgina qalinlik qo'shish */
  color: #333; /* Matn rangi */
}

.sort-container .MuiFormControlLabel-label {
  font-size: 25px; /* Yozuv o'lchami kattalashtiriladi */
  font-weight: 500; /* Yozuvga ozgina qalinlik qo'shish */
  color: #333; /* Matn rangi */
}

/* FormControlLabel elementlari orasidagi masofa */
.category-radio .MuiFormControlLabel-root,
.sort-container .MuiFormControlLabel-root {
  margin-bottom: 16px; /* Har bir elementning tagidan 16px masofa qo'shish */
}

/* Oxirgi element uchun marginni olib tashlash */
.category-radio .MuiFormControlLabel-root:last-child,
.sort-container .MuiFormControlLabel-root:last-child {
  margin-bottom: 0;
}


.products-page .products .product-wrapper {
  margin-left: 370px;
  margin-top: 90px;
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products .product-wrapper .no-data {
  margin-bottom: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 34px;
  color: #e3c08d;
}

.products-page .products .product-card {
  margin-top: 10px;
  margin-right: 64px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .product-card .product-img {
  position: relative;
  width: 273px;
  height: 275px;
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
}

.products-page .products .product-img .product-sale {
  margin: 10px;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4px 6px 20px #0000001a;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
}

.products-page .products .product-card .product-desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.products-page .products .product-desc .product-title {
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.products-page .products .product-desc .product-desc {
  margin-top: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #e3c08d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products-page .products .product-img:before {
  border-radius: 0px 50px 0px 0px;
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.products-page .products .product-img:hover:before {
  border-radius: 0px 50px 0px 0px;
  opacity: 1;
}

.products-page .products .product-img img {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.products-page .products .shop-btn {
  position: absolute;
  padding: 20px;
  top: 217px;
  width: 64px;
  height: 46px;
  left: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgb(198 0 255 / 66%);
  border: 2px solid #d7b686;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #f8f8ff;
}

.products-page .products .product-img:hover .shop-btn {
  opacity: 1;
}

.products-page .products .product-img:hover .view-btn {
  opacity: 1;
}

.products-page .products .view-btn {
  position: absolute;
  top: 223px;
  padding: 5px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.products-page .products .pagination-section {
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.products-page .products .list-category-section {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
}

.products-page .products .product-category {
  margin-top: 60px;
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .product-category .category-main {
  display: flex;
  flex-direction: row;
  justify-content: end;
  transform: rotate(-90deg); /* Standard CSS property */
  -moz-transform: rotate(-90deg); /* Firefox */
  -ms-transform: rotate(-90deg); /* Edge */
  -o-transform: rotate(-90deg); /* Opera */
  -webkit-transform: rotate(-90deg);
}

.products-page .product-category .category-main button {
  min-width: auto;
  margin-right: 10px;
}

.products-page .products .css-1p7b7rs-MuiBadge-badge {
  position: absolute;
  top: 26%;
  right: 15%;
}



/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}